.classBlock {
    position: absolute;
    left: 0;
    right: 0;
    width: 95%;
    margin: 0 auto 0 auto;
    padding: 0;
    background-color: blue;
}

.classBlock p {
    margin: 0;
    padding: 0;
}

.columnContent {
    position: relative;
}