.content {
    width: auto;
    height: 5px;
    margin: auto;
}
.timeColumn {
    width: 15vw;
    float: left;
    margin: 0;
}

.column {
    width: 80vw;
    float: left;
    margin: 0 1vw 0 1vw;
}

.columnHeader {
    height: 5vh;
}

.columnContent {
    position: relative;
}

.classBlock {
    position: absolute;
    left: 0;
    right: 0;
    width: 95%;
    margin: 0 auto 0 auto;
    padding: 0;
    background-color: blue;
}

.timeBlock {
    border: 2px black solid;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.classBlock p, .timeBlock p {
    margin: 0;
    padding: 0;
}

.controls {
    clear: both;
}